@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20.8696 18.4% 24.5098%;
    --card: 36 41.6667% 95.2941%;
    --card-foreground: 20.8696 18.4% 24.5098%;
    --popover: 36 41.6667% 95.2941%;
    --popover-foreground: 20.8696 18.4% 24.5098%;
    --primary: 21 79% 52%;
    --primary-hover: 22 100% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34.2857 60.8696% 72.9412%;
    --secondary-foreground: 33.3333 5.4545% 32.3529%;
    --muted: 39.1304 45.098% 90%;
    --muted-foreground: 25 5.2632% 44.7059%;
    --accent: 34.2857 68.2927% 83.9216%;
    --accent-foreground: 33.3333 5.4545% 32.3529%;
    --destructive: 0 70% 35.2941%;
    --destructive-foreground: 0 0% 100%;
    --border: 43.5 42.5532% 81.5686%;
    --input: 43.5 42.5532% 81.5686%;
    --ring: 21 79% 52%;
    --chart-1: 21 79% 52%;
    --chart-2: 25 5.2632% 44.7059%;
    --chart-3: 35.4545 91.6667% 32.9412%;
    --chart-4: 25 5.2632% 44.7059%;
    --chart-5: 40.6061 96.1165% 40.3922%;
    --sidebar: 39.1304 45.098% 90%;
    --sidebar-foreground: 20.8696 18.4% 24.5098%;
    --sidebar-primary: 21 79% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 35.4545 91.6667% 32.9412%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 43.5 42.5532% 81.5686%;
    --sidebar-ring: 21 79% 52%;
    --radius: 0.3rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18),
      0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18),
      0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18),
      0px 2px 4px -1px hsl(28 18% 25% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18),
      0px 4px 6px -1px hsl(28 18% 25% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18),
      0px 8px 10px -1px hsl(28 18% 25% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 24 9.8039% 10%;
    --foreground: 60 4.7619% 95.8824%;
    --card: 12 6.4935% 15.098%;
    --card-foreground: 60 4.7619% 95.8824%;
    --popover: 12 6.4935% 15.098%;
    --popover-foreground: 60 4.7619% 95.8824%;
    --primary: 21 79% 52%;
    --primary-hover: 22 100% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33.3333 5.4545% 32.3529%;
    --secondary-foreground: 20 5.8824% 90%;
    --muted: 12 6.4935% 15.098%;
    --muted-foreground: 24 5.4348% 63.9216%;
    --accent: 198.4615 46.4286% 21.9608%;
    --accent-foreground: 20 5.8824% 90%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 6.25% 25.098%;
    --input: 30 6.25% 25.098%;
    --ring: 21 79% 52%;
    --chart-1: 21 79% 52%;
    --chart-2: 198.6301 88.664% 48.4314%;
    --chart-3: 45.3982 93.3884% 47.451%;
    --chart-4: 24 5.4348% 63.9216%;
    --chart-5: 25 5.2632% 44.7059%;
    --sidebar: 12 6.4935% 15.098%;
    --sidebar-foreground: 60 4.7619% 95.8824%;
    --sidebar-primary: 21 79% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 198.6301 88.664% 48.4314%;
    --sidebar-accent-foreground: 212.3077 73.0337% 17.451%;
    --sidebar-border: 30 6.25% 25.098%;
    --sidebar-ring: 21 79% 52%;
    --radius: 0.3rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 2px 4px -1px hsl(0 0% 5% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 4px 6px -1px hsl(0 0% 5% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18),
      0px 8px 10px -1px hsl(0 0% 5% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
  }
}